<!-- task-view.component.html -->

<div class="centered-content">
    <div class="task-manager-container">
      <!-- Sidebar -->
      <div class="sidebar has-background-white">
        <div>
          <h1 class="title has-text-primary">
            Lists
          </h1>
          <div class="list-menu">
            <!-- List menu items (replace this with ngFor) -->
            <a *ngFor="let list of lists" class="list-menu-item">
              <p>{{ list.name }}</p>
            </a>
          </div>
        </div>
        <div class="mt-auto">
          <!-- Button to create a new list -->
          <button class="button is-primary has-text-white" (click)="createNewlist('New List')">+ New List</button>
        </div>
      </div>
  
      <!-- Task List Container -->
      <div class="task-list-container has-background-light">
        <h1 class="title has-text-primary">
          Tasks
        </h1>
  
        <!-- Task Elements (replace this with ngFor) -->
        <div *ngFor="let task of tasks" class="task" [ngClass]="{ 'complete': task.completed }">
          <p>{{ task.title }}</p>
        </div>
      </div>
    </div>
  </div>
  